<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="aceFxUploadSettings" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>

  <aceFxUploadSettings ftpPath="D:\AceFx" ftpProcessedPath="D:\AceFx\Processed" ftpRejectedPath="D:\AceFx\Rejected" ftpProcessedWithErrorsPath="D:\AceFx\ProcessedWithErrors" ftpUnhandledExceptionsPath="D:\AceFx\UnhandledExceptions" ftpProcessingPath="D:\AceFx\Processing" processedFileSuffix="_P" rejectedFileSuffix="_X" fileCacheCount="10">
    <retries retryCount="10" durationBetweenRetriesInSeconds="10" />
  </aceFxUploadSettings>    
  

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>